@model CabManagementSystem.Domain.Entities.User



@{
    ViewBag.Title = "Login Page";

}


@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
    @Html.Raw(ViewBag.ErrorMessage)

    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-center">
                                        <img src="https://i.gifer.com/VdgG.gif"
                                             style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">We are The Zensar Team</h4>
                                    </div>

                                    
                                        <h3>Login to your account</h3>
                                        <hr />

                                        <div class="form-outline mb-4 dropdown">
                                            <label class="form-label" for="UserType"><b>User Type</b></label>
                                            @Html.DropDownListFor(model => model.UserType, new SelectList(new[] { "Administrator", "HR-Manager" }), "Select User type", new { @class = "form-control  dropdown-content" })
                                            @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                                            <br />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="UserName"><b>Username</b></label>
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-input", @placeholder = " Enter Username " })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="Password"><b>Password</b></label>
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-input", @placeholder = " Enter password", @type = "password" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary button-29 btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                                Log
                                                in
                                            </button>
                                            <button class="btn button-29 btn-dark btn-block fa-lg mb-3" type="reset">
                                                Cancel
                                            </button>
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <p class="mb-0 me-2">Don't have an account?</p>
                                            <button type="button" class="button-29 btn-outline-danger">
                                                @Html.ActionLink("Register", "Register")
                                            </button>
                                        </div>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">We are more than just a Cab Management Service</h4>
                                    <p class="small mb-0">
                                        <h3>A <b>Corporate Cab</b> for every occassion</h3>
                                        <ul>
                                            <li>Night Cabs</li>
                                            <li>Rentals</li>
                                            <li>Daily Commutes</li>
                                            <li>Ad Hoc Trips</li>
                                            <li>Airport Transfers</li>
                                            <li>Ride to your client's place</li>
                                            <li>and many more</li>
                                        </ul>
                                        Experience best-in-class corporate transportation services with Office Ride Enterprise.
                                        Our cab service provides a safe & reliable solution to transport employees to and from work.
                                        We help your employees get to work comfortably and seamlessly.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}