@model CabManagementSystem.Domain.Entities.RouteDetail
@using CabManagementSystem.Domain.Entities

@{
    ViewBag.Title = "Add New Route";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using (Html.BeginForm("Create", "RouteDetail", FormMethod.Post))

{
    @Html.Raw(ViewBag.ErrorMessage)

    <div class="container py-5 h-100 ">

        <div class="row g-0">
            <span id="d1" style="margin-top:20px; font-size:130%">

                <b style="margin-left:38%;align-self:center">Add New Route</b>

            </span>
            <hr />
            <div class="col-lg-6" style="float:none;margin:auto;">

                <div class="card-body p-md-5 mx-md-4" style="margin-left:35%">

                    <div class="form-outline mb-4">
                        <label for="routeId"><b>Route ID</b></label>
                        @Html.TextBoxFor(model => model.routeId, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.routeId, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="empId"><b>Employee ID</b></label>
                        @Html.TextBoxFor(model => model.empId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.empId, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="empName"><b>Employee Name</b></label>
                        @Html.TextBoxFor(model => model.empName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.empName, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="sourceLOC"><b>Source Location</b></label>
                        @Html.TextBoxFor(model => model.sourceLOC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sourceLOC, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="destLOC"><b>Destination Location</b></label>
                        @Html.TextBoxFor(model => model.destLOC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.destLOC, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="batchId"><b>Batch ID</b></label>
                        @Html.TextBoxFor(model => model.batchId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.batchId, "", new { @style = "color:white" })
                    </div>


                </div>
            </div>
            @*============================*@
        </div>
        <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btn-primary button-29 btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                Save
            </button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-dark button-29 btn-block fa-lg mb-3" type="reset">
                Cancel
            </button>
            <br />
            <button class="btn btn-primary button-29  fa-lg gradient-custom-2 mb-3" >
                @Html.ActionLink("Back to List", "RouteDetailList", null, new { @class = "btn btn-default",
               style = "padding: 0.5px 0.5px;"
           })
            </button>
        </div>
    </div>

}


