@model CabManagementSystem.Domain.Entities.VehicleAllocationDetail

@{
    ViewBag.Title = "Add New Allocation";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<title>Cab Management System</title>



@*=======================*@

@using (Html.BeginForm("Create", "VehicleAllocation", FormMethod.Post))

{
    @Html.Raw(ViewBag.ErrorMessage)

    <div class="container py-5 h-100 ">

        <div class="row g-0">
            <span id="d1" style="margin-top:20px; font-size:130%">

                <b style="margin-left:38%;align-self:center">Allocate New Vehicle</b>

            </span>
            <hr />
            <div class="col-lg-6" style="float:none;margin:auto;">

                <div class="card-body p-md-5 mx-md-4" style="margin-left:35%">

                    <div class="form-outline mb-4">
                        <label for="vehicleAlloId"><b>Vehicle Allocation ID</b></label>
                        @Html.EditorFor(model => model.vehicleAlloId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vehicleAlloId, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="vehicleId"><b>Vehicle ID</b></label>
                        @Html.EditorFor(model => model.vehicleId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vehicleId, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="empId"><b>Employee ID</b></label>
                        @Html.TextBoxFor(model => model.empId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.empId, "", new { @style = "color:white" })
                    </div>




                    <div class="form-outline mb-4">
                        <label for="driverId"><b>Driver ID</b></label>
                        @Html.EditorFor(model => model.driverId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.driverId, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="pickOrDrop"><b>Pickup/Drop</b></label>
                        @Html.DropDownListFor(model => model.pickOrDrop, new SelectList(new[] { "Pickup", "Drop" }), "Select Pickup/Drop", new { @class = "form-control dropdown-content" })
                        @Html.ValidationMessageFor(model => model.pickOrDrop, "", new { @style = "color:white" })
                    </div>


                    <div class="form-outline mb-4">
                        <label for="batchId"><b>Route ID</b></label>
                        @Html.TextBoxFor(model => model.routeId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.routeId, "", new { @style = "color:white" })
                    </div>


                </div>
            </div>
            @*============================*@
        </div>
        <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btn-primary button-29 btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                Save
            </button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary button-29 btn-block fa-lg gradient-custom-2 mb-3" type="reset">
                Cancel
            </button>
            <br />
                <button class="btn btn-primary button-29 btn-block fa-lg gradient-custom-2 mb-3">
                    @Html.ActionLink("Cancel to List", "VehicleAllocationList", null, new { @class = "btn btn-default" })
                </button>
        </div>
    </div>

}
