@model CabManagementSystem.Domain.Entities.BatchDetail

<tr class="text-center">
    <td>@Model.batchId</td>
    <td>@Model.totalEmp</td>
    <td>@Model.shiftId</td>
    <td style="width:40px">
        @Html.ActionLink("Edit", "Edit", new { id = @Model.batchId })
</tr>
