@model CabManagementSystem.Domain.Entities.Employee
<title>Cab Management System</title>

<tr class="text-center">
    <td>@Model.empId</td>
    <td>@Model.empName</td>
    <td>@Model.perAddress</td>
    <td>@Model.comAddress</td>
    <td>@Model.qualification</td>
    <td>@Model.DOB</td>
    <td>@Model.vehrequired</td>
    <td>@Model.gender</td>
    <td>@Model.phoneNo</td>
    <td>@Model.designation</td>
    <td>@Model.department</td>
    <td>@Model.DOJ</td>
    <td style="width:40px">
        <button class="btn btn-warning" align="center">
            <i class="fa-solid fa-pen-to-square"></i>
            @Html.ActionLink("Edit", "Edit", new { id = @Model.empId })
        </button>&nbsp;
        <button class="btn btn-danger" align="center">
            <i class="fa-solid fa-trash-can"></i>
            @Html.ActionLink("Delete", "Delete",
    new { id = @Model.empId },
    new { onclick = "return confirm('Are you sure you wish to delete this Employee?');" })
        </button>
        
    </td>
</tr>
