@model CabManagementSystem.Domain.Entities.RouteDetail

<tr class="text-center">
    <td>@Model.routeId</td>
    <td>@Model.empId</td>
    <td>@Model.empName</td>
    <td>@Model.sourceLOC</td>
    <td>@Model.destLOC</td>
    <td>@Model.batchId</td>
    <td style="width:40px">
        <button class="btn btn-warning" align="center">
            <i class="fa-solid fa-pen-to-square"></i>
            @Html.ActionLink("Edit", "Edit", new { id = @Model.empId })
        </button>
    </td>

</tr>
