@model CabManagementSystem.Domain.Entities.RouteDetail

<tr class="text-center">
    <td>@Model.routeId</td>
    <td>@Model.empId</td>
    <td>@Model.empName</td>
    <td>@Model.sourceLOC</td>
    <td>@Model.destLOC</td>
    <td>@Model.batchId</td>
</tr>
