@model CabManagementSystem.Domain.Entities.Trip

<tr class="text-center">
    <td>@Model.tripSheetId</td>
    <td>@Model.vehicleAlloId</td>
    <td>@Model.vehicleId</td>
    <td>Rs.20</td>
    <td>@Model.distanceTravelled</td>
    <td>@Model.distanceTravelled*20</td>
    <td>@Model.Remark</td>

</tr>s