@model CabManagementSystem.Domain.Entities.VehicleAllocationDetail

<tr class="text-center">
    <td>@Model.vehicleAlloId</td>
    <td>@Model.vehicleId</td>
    <td>@Model.empId</td>
    <td>@Model.driverId</td>
    <td>@Model.PickOrDrop</td>
    <td>@Model.routeId</td>


</tr>