@model CabManagementSystem.Domain.Entities.VehicleAllocation

<tr class="text-center">
    <td>@Model.vehicleAlloId</td>
    <td>@Model.vehicleId</td>
    <td>@Model.empId</td>
    <td>@Model.driverId</td>
    <td>@Model.pickOrDrop</td>
    <td>@Model.routeId</td>


</tr>