@model CabManagementSystem.Domain.Entities.VehicleAllocationDetail


<tr>
    <td>@Model.vehicleAlloId</td>
    <td>@Model.vehicleId</td>
    <td>@Model.empId</td>
    <td>@Model.driverId</td>
    <td>@Model.pickOrDrop</td>
    <td>@Model.routeId</td>
</tr>