@model CabManagementSystem.Domain.Entities.TripSheet
@{
    ViewBag.Title = "Create New Sheet";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cab Management System</title>
</head>
<body>
    <div style="margin:1cm">
        <div>
            @using (Html.BeginForm())
            {
                <span id="d1" style="margin-top:20px; font-size:130%">

                    <b style="margin-left:38%;align-self:center">Add New Trip</b>

                </span>
                <hr />

                <div class="form-outline mb-4">
                    <label for="Trip Id"><b>Trip ID</b></label>
                    @Html.EditorFor(model => model.tripSheetId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tripSheetId, "", new { @style = "color:white" })
                </div>

                <div class="form-outline mb-4">
                    <label for="Vehicle Allocation Id"><b>Vehicle Allocation ID</b></label>
                    @Html.EditorFor(model => model.vehicleAlloId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vehicleAlloId, "", new { @style = "color:white" })
                </div>

                <div class="form-outline mb-4">
                    <label for="vehicleId"><b>Vehicle Id</b></label>
                    @Html.EditorFor(model => model.vehicleId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vehicleId, "", new { @style = "color:white" })
                </div>

                <div class="form-outline mb-4">
                    <label for="distance Travelled"><b>Distance Travelled</b></label>
                    @Html.EditorFor(model => model.distanceTravelled, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.distanceTravelled, "", new { @style = "color:white" })
                </div>


                <div class="form-outline">
                    <label class="form-label" for="textAreaExample">Remarks</label>
                    @Html.EditorFor(model => model.distanceTravelled, new { htmlAttributes = new { @class = "form-control", style = "height:2cm" } })
                    @Html.ValidationMessageFor(model => model.distanceTravelled, "", new { @style = "color:white" })
                </div>

                <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary button-29 btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                        Save
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-dark button-29 btn-block fa-lg mb-3" type="reset">
                        Cancel
                    </button>
                </div>
            }
        </div>
    </div>
</body>
</html>
