@using CabManagementSystem.Domain.Entities;


@{
    ViewBag.Title = "dashboard";
    TempData.Keep("user");
    TempData.Keep("id");
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@*<div style="width:auto;float:right">
    @if (@TempData["user"] != null)
    {
        <span>Welcome : </span> @TempData["user"] <span> | </span> @Html.ActionLink("Log Out", "Logout", "login")
    }
    else
    {
        @Html.ActionLink("Register", "Register", "User")
        <span> | </span>
        @Html.ActionLink("Log In", "Login", "User")
    }
</div>*@
<div style="text-align: center; padding-top: 50px;">
    <h3>Welcome to aspmantra</h3>
    @using (Html.BeginForm())
    {
        <section style="align-self:center; margin-left:20%">
            @Html.AntiForgeryToken()
            <fieldset style="border:1px; border-block-color:black">
                <legend>Change Password</legend>
                <table>
                    <tr>
                        <td>@Html.Label("Old Password", new { @for = "Password" }) :  </td>
                        <td>@Html.Password("Password")</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("New Password", new { @for = "newPassword" }) :</td>
                        <td>@Html.Password("newPassword")</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Confirm Password", new { @for = "Confirmpwd" }) : </td>
                        <td>@Html.Password("Confirmpwd")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Change Password" /></td>
                    </tr>
                </table>
            </fieldset>
        </section>
    }
</div>@Html.Raw(TempData["msg"])
