@model CabManagementSystem.Domain.Entities.VehicleDetail

@{
    ViewBag.Title = "Add New Vehicle";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


@using (Html.BeginForm("Create", "VehicleDetail", FormMethod.Post))

{
    @Html.Raw(ViewBag.ErrorMessage)

    <div class="container py-5 h-100 ">

        <div class="row g-0">
            <span id="d1" style="margin-top:20px; font-size:130%">

                <b style="margin-left:38%;align-self:center">Add New Vehicle</b>

            </span>
            <hr />
            <div class="col-lg-6" style="float:none;margin:auto;">

                <div class="card-body p-md-5 mx-md-4" style="margin-left:35%">

                    <div class="form-outline mb-4">
                        <label for="vehicleName"><b>Vehicle Name</b></label>
                        @Html.EditorFor(model => model.vehicleName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vehicleName, "", new { @style = "color:white" })
                    </div>


                    <div class="form-outline mb-4">
                        <label for="driverId"><b>Driver ID</b></label>
                        @Html.EditorFor(model => model.driverId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.driverId, "", new { @style = "color:white" })
                    </div>


                    <div class="form-outline mb-4">
                        <label for="vehicleNum"><b>Vehicle Number</b></label>
                        @Html.EditorFor(model => model.vehicleNum, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vehicleNum, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="capacity"><b>Capacity</b></label>
                        @Html.EditorFor(model => model.capacity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.capacity, "", new { @style = "color:white" })
                    </div>


                </div>
            </div>
            @*============================*@
            <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                    <div class="form-outline mb-4">
                        <label for="venderId"><b>Vender ID</b></label>
                        @Html.EditorFor(model => model.venderId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.venderId, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="vehicleType"><b>Vehicle Type</b></label>
                        @Html.EditorFor(model => model.vehicleType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vehicleType, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="ratePerKM"><b>Rate Per KM</b></label>
                        @Html.EditorFor(model => model.ratePerKM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ratePerKM, "", new { @style = "color:white" })
                    </div>

                    <div class="form-outline mb-4">
                        <label for="routeId"><b>Route ID</b></label>
                        @Html.EditorFor(model => model.routeId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.routeId, "", new { @style = "color:white" })
                    </div>
                </div>
            </div>


        </div>
        <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btn-primary button-29 btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                Save
            </button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-dark button-29 btn-block fa-lg mb-3" type="reset">
                Cancel
            </button>
        </div>
    </div>

}


