@using CabManagementSystem.Domain.Entities
@model CabManagementSystem.Domain.Entities.ShiftTiming

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.ShiftName Shift</h3>
    </div>

    @using (Html.BeginForm())
    {
        <div class="form-horizontal " style="width: 800px; margin:50px; align-content:center">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.shiftId)

            <div class="form-group">
                <label for="ShiftName"><b>Shift Name</b></label>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ShiftName,
                                                    new SelectList(Enum.GetValues(typeof(Shifts))),
                                                    "Select Shift")
                    @Html.ValidationMessageFor(model => model.ShiftName, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">

                <label for="shiftStartTime"><b>Start time</b></label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.shiftStartTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.shiftStartTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="shiftEndTime"><b>Dispatch time</b></label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.shiftEndTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.shiftEndTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="totalBatches"><b>Total no of batches</b></label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.totalBatches, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.totalBatches, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Cancle And Return to List", "ShiftTimingList", null, new { @class = "btn btn-default" })
            </div>

        </div>
    }
</div>




