@model CabManagementSystem.Domain.Entities.VehicleBill

@{
    ViewBag.Title = "Create New Bill";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<title>Cab Management System</title>




@*==========================*@

@using (Html.BeginForm())
{
    <span id="d1" style="margin-top:20px; font-size:130%">

        <b style="margin-left:38%;align-self:center">Add New Bill</b>

    </span>
    <hr />
    <div class="col-lg-6" style="float:none;margin:auto;">

        <div class="card-body p-md-5 mx-md-4" style="margin-left:35%">
            <div class="form-outline mb-4">
                <label class="form-label" for="billId"><b>Bill ID</b></label>
                @Html.EditorFor(model => model.billId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.billId, "", new { @style = "color:white" })
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="billNum"><b>Bill Number</b></label>
                @Html.EditorFor(model => model.billNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.billNum, "", new { @style = "color:white" })
            </div>

            <div class="form-outline mb-4">
                <label for="vehicleId"><b>Vehicle Id</b></label>
                @Html.EditorFor(model => model.vehicleId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicleId, "", new { @style = "color:white" })
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="dateOfBilling"><b>Date Of Billing</b></label>
                @Html.EditorFor(model => model.dateOfBilling, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateOfBilling, "", new { @style = "color:white" })
            </div>


            <div class="form-outline">
                <label class="form-label" for="venderId"><b>Vender ID</b></label>
                @Html.EditorFor(model => model.venderId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.venderId, "", new { @style = "color:white" })
            </div>

            <div class="form-outline">
                <label class="form-label" for="deductions"><b>Dedutions</b></label>
                @Html.EditorFor(model => model.deductions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.deductions, "", new { @style = "color:white" })
            </div>


            <div class="text-center pt-1 mb-5 pb-1">
                <button class="btn btn-primary button-29 btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                    Save
                </button>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-dark button-29 btn-block fa-lg mb-3" type="reset">
                    Cancel
                </button>
                    <br />
                    <button class="btn btn-primary button-29  fa-lg gradient-custom-2 mb-3">
                        @Html.ActionLink("Back to List", "VehicleBillList", null, new
                        {
                            @class = "btn btn-default",
                       style = "padding: 0.5px 0.5px;"
                   })
                    </button>
            </div>
        </div>
    </div>
}

